.carousel-item {
  display: none;
  margin: 20px;
  font-family: 'Lato', sans-serif;
}
.carousel-item .circleImage {
  position: relative;
}
.carousel-item .circleImage img {
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.carousel-item .userDetails {
  width: 100px;
}
.carousel-item.active {
  display: inline-block;
}
@media (min-width: 1024px) {
  .carousel-item.active + .carousel-item {
    display: inline-block;
  }
}
#carousel {
  display: inline-block;
}
.arrow {
  display: inline-block;
  cursor: pointer;
  width: 100px;
  height: 100px;
}
h1 {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}
@media (min-width: 370px) and (max-width: 766px) {
  .arrow {
    width: 50px;
  }
  .carousel-item .circleImage img {
    width: 100px;
  }
  .carousel-item .userDetails {
    width: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .circleImage {
    width: 200px;
    display: inline-block;
  }
  .circleImage img {
    width: 100px !important;
  }
  .userDetails {
    display: inline-block;
  }
  .carousel-item .userDetails {
    width: 250px;
    vertical-align: top;
  }
}
@media (min-width: 1024px) {
  .circleImage {
    width: 100px;
    display: inline-block;
  }
  .circleImage img {
    width: 50px !important;
  }
  .userDetails {
    display: inline-block;
  }
  .carousel-item .userDetails {
    width: 200px;
    vertical-align: top;
  }
}
