.carousel-item {
    display: none;
    margin: 20px;
    // border: 1px solid lightgray;
    font-family: 'Lato', sans-serif;

    .circleImage{
        //so image can be positioned
        position: relative;
        img {
            width: 50px;
            //center it on the circle
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }
    }

    .userDetails { 
        width: 100px; 
    }

    &.active {
        display: inline-block;

        @media (min-width: 1024px){
            + .carousel-item {
                display: inline-block;
            }
        }
    }
}

#carousel { display: inline-block; }
.arrow { 
    display: inline-block; 
    cursor: pointer; 
    width: 100px; 
    height: 100px;
}
h1 { 
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}
.why { display: none;}


//iPhone
@media (min-width: 370px) and (max-width: 766px){
    .arrow { 
        width: 50px;
        height: 450px;
        vertical-align: top;
    }

    .carousel-item {
        .circleImage {
            svg { width: 200px; }
            img { width: 100px;}
        }
        .userDetails{ width: 200px;}
    }
}

//ipad
@media (min-width: 768px) and (max-width: 1023px) {
    .circleImage {
        width: 200px;
        display: inline-block;
        img { width: 100px !important; }
    }

    .userDetails { display: inline-block; }

    .carousel-item .userDetails { 
        width: 250px; 
        vertical-align: top;
        margin-left: 10px;
        margin-top: 10px;
    }

    .arrow { height: 200px;}
}

//ipad pro
@media (min-width: 1024px){
    .circleImage {
        width: 100px;
        display: inline-block;
        img { width: 50px !important; }
    }

    .userDetails { display: inline-block; }
    .carousel-item .userDetails { 
        width: 200px; 
        vertical-align: top;
        padding-left: 10px;
    }

    .why{
        display: block;
        text-align: center;
    }
}