.carousel-item {
  display: none;
  margin: 20px;
  border: 1px solid black;
}
.carousel-item.active {
  display: inline-block;
}
@media (min-width: 600px) {
  .carousel-item.active + .carousel-item {
    display: inline-block;
  }
}
#carousel {
  display: inline-block;
}
.arrow {
  display: inline-block;
  cursor: pointer;
  width: 100px;
  height: 100px;
}
