@{
    ViewData["Title"] = "Home Page";
}

<div id="leftArrow">
    <p>left arrow</p>
</div>

<div id="carousel">
    <article class="carousel-item">
        <span>circle</span>
        <span>image</span>
        <p>a good review</p>
        <p>persons name</p>
        <p>member since</p>
    </article>

    <article class="carousel-item">
        <span>circle</span>
        <span>image</span>
        <p>a good review</p>
        <p>persons name</p>
        <p>member since</p>
    </article>
</div>

<div id="rightArrow">
    <p>right arrow</p>
</div>