<img id="left" class="arrow" src="images/leftArrow.svg" alt="Left Arrow">

<section id="carousel">
    <h1>HAPPY TO HELP STORIES</h1>
    <p class="why">Why do our members love being part of OECU? Find out below</p>

    <article class="carousel-item active">
        <div class="circleImage">
            <svg viewBox="0 0 100 100">
                <circle cx="50" cy="50" r="50" fill="lightgreen"/>
            </svg>
            <image src="images/users/user1.png" alt="user image" >
        </div>
        <div class="userDetails">
            <span>Good service. Viking bob likes to leave really long reviews that need to be wrapped</span>
            <p>-Viking Bob</p>
            <p>Member since 2002</p>
        </div>
    </article>

    <article class="carousel-item">
        <div class="circleImage">
            <svg viewBox="0 0 100 100">
                <circle cx="50" cy="50" r="50" fill="lightgreen"/>
            </svg>
            <img src="images/users/user2.png" alt="user image" >
        </div>

        <div class="userDetails">
            <p>Great service! Will recomend to family and friends. </p>
            <p>-The real Bob</p>
            <p>Member since 2006</p>
        </div>
    </article>

    <article class="carousel-item">
        <div class="circleImage">
            <svg viewBox="0 0 100 100">
                <circle cx="50" cy="50" r="50" fill="lightgreen"/>
            </svg>
            <img src="images/users/user3.png" alt="user image" >
        </div>

        <div class="userDetails">
            <p>I have nothing but praises to give. Service was excellent. Label me a repeat customer</p>
            <p>-Gary</p>
            <p>Member since 2000</p>
        </div>
    </article>

    <article class="carousel-item">
        <div class="circleImage">
            <svg viewBox="0 0 100 100">
                <circle cx="50" cy="50" r="50" fill="lightgreen"/>
            </svg>
            <img src="images/users/user4.png" alt="user image" >
        </div>

        <div class="userDetails">
            <p>I'm not sure what to put in this box. Please help</p>
            <p>-Patrick</p>
            <p>Member since 2016</p>
        </div>
    </article>

</section>

<img id="right" class="arrow" src="images/rightArrow.svg" alt="right Arrow">
