<img id="left" class="arrow" src="images/leftArrow.svg" alt="Left Arrow">

<section id="carousel">
    <article class="carousel-item active">
        <div class="circleImage">
            <svg viewBox="0 0 100 100">
                <circle cx="50" cy="50" r="50" fill="lightgreen"/>
            </svg>
            <image src="images/users/user1.png" alt="user image" >
        </div>
        <div class="userDetails">
            <p>Viking Bob</p>
            <!-- <p>1111111111</p> -->
            <!-- <p>two two two</p> -->
            <span>Good service. Viking bob likes to leave really long reviews that need to be wrapped</span>
            <p>Member since 2002</p>
        </div>

    </article>

    <article class="carousel-item">
        <div class="circleImage">
            <svg viewBox="0 0 100 100">
                <circle cx="50" cy="50" r="50" fill="lightgreen"/>
            </svg>
            <img src="images/users/user2.png" alt="user image" >
        </div>

        <div class="userDetails">
            <p>Second Person</p>
            <p>2222222222</p>
            <p>two two two</p>
        </div>
    </article>

    <article class="carousel-item">
        <div class="circleImage">
            <svg viewBox="0 0 100 100">
                <circle cx="50" cy="50" r="50" fill="lightgreen"/>
            </svg>
            <img src="images/users/user3.png" alt="user image" >
        </div>

        <div class="userDetails">
            <p>Third Person</p>
            <p>3333333333</p>
            <p>three three</p>
        </div>
    </article>

    <article class="carousel-item">
        <div class="circleImage">
            <svg viewBox="0 0 100 100">
                <circle cx="50" cy="50" r="50" fill="lightgreen"/>
            </svg>
            <img src="images/users/user4.png" alt="user image" >
        </div>

        <div class="userDetails">
            <p>Fourth Person</p>
            <p>4444444444</p>
            <p>four four</p>
        </div>
    </article>

</section>

<img id="right" class="arrow" src="images/rightArrow.svg" alt="right Arrow">
